@import '../App/theme';
@import '../App/responsive';
@import '../App/rem';

.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footer-height;
  background-color: $first;
  border-top: 1px solid $border-color;

  @include breakpoint(lg) {
    display: none;
  }
}

.list {
  display: flex;
  height: 100%;
}
