@import '../App/theme';
@import '../App/responsive';
@import '../App/rem';
@import '../App/font';
@import '../App/variables';

.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footer-height;
  background-color: $first;
  border-top: 1px solid $gray;

  @include breakpoint(lg) {
    display: none;
  }
}

.list {
  display: flex;
  height: 100%;
}

.link {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-top: rem(8px);

  &:focus {
    outline: currentcolor none 0px;
  }
}

.label {
  color: #cecece;
  margin-top: rem(4px);
  @include font-size('x-small');
}
