@import '../App/responsive';

.digest-page {
  min-height: calc(100vh - 57px);
  background: #f8f8f8;
  padding-bottom: 5rem;

  .note-container {
    display: flex;
    justify-content: center;
    padding-top: 4.5em;
    padding-bottom: 4.5em;

    @include breakpoint(md) {
      padding-top: 5em;
      padding-bottom: 5em;
    }
  }

  .note-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    padding-top: 5rem;
  }
  .note-item ~ .note-item {
    margin-top: 5rem;
  }
}
