{{define "time"}}

{{$mobileText := defaultValue .mobileText .text}}

<span class="partial--time">
  <time datetime="{{ toISOString .value }}">
    <span>
      <span class="text">{{ .text }}</span>
      <span class="mobile-text">{{ $mobileText }}</span>
    </span>
  </time>
</span>
{{end}}
