.marker {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.marker-first {
  color: #fff;
  background-color: #007bff;
}

.marker-info {
  color: #fff;
  background-color: #17a2b8;
}
