{{ define "header" }}
  <style media="all" type="text/css">
    .header {
    }
    .header-content {
      padding-left: 20px;
      padding-bottom: 15px;
    }
    .brand img {
      width: 84px;
    }

    a.brand {
      text-decoration: none;
      color: inherit;
    }

    .brand h1 {
      margin-top: 0;
    }
  </style>
  <table>
    <tr class="header">
      <td class="header-content">
        <a class="brand" href="https://www.getdnote.com">
          <img src="https://cdn.getdnote.com/brand/logo-text-horizontal.png" alt="Dnote Logo">
        </a>
      </td>
    </tr>
  </table>
{{ end }}
