@import '../../App/font';
@import '../../App/theme';
@import '../../App/responsive';
@import '../../App/rem';

$border-radius: rem(4px);

.wrapper {
  flex-grow: 1;
}

textarea.textarea {
  width: 100%;
  min-height: rem(500px);
  padding: rem(12px) rem(12px) rem(24px) rem(12px);
  background: #fafbfd;

  &:focus {
    // border-color: $light-blue;
    // outline: none;
  }
}

.tip {
  position: absolute;
  bottom: 20px;
  right: 32px;
  color: $gray;
  font-style: italic;
  @include font-size('small');

  &:not(.shown) {
    display: none;
  }
}
