{{define "yield"}}
<div class="page page-mobile-full settings-page">
  <div class="container mobile-fw">
    <div class="page-header">
      <h1 class="page-heading">Settings</h1>
    </div>

    <div class="row">
      <div class="col-12 col-md-12 col-lg-3">
        {{template "settingsSidebar" .}}
      </div>

      <div class="col-12 col-md-12 col-lg-9">
        <div class="setting-section-wrapper">
          <section class="setting-section">
            <h2 class="section-heading">Software</h2>

            <div class="setting-row">
              <div class="setting-row-summary">
                <div>
                  <h3 class="setting-name">Version</h3>
                </div>

                <div class="setting-right">
                  {{.Version}}
                </div>
              </div>
            </div>

          </section>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
