{{define "caret"}}
<svg
  width="12px"
  height="12px"
  viewBox="0 0 32 32"
  fill="none"
  class="icon--caret-{{ .direction }}"
>
  <line
    y1="-1"
    x2="17.2395"
    y2="-1"
    transform="matrix(0.769979 0.638069 -0.653774 0.75669 3 11.5779)"
    stroke="{{ .stroke }}"
    stroke-width="4"
  />
  <line
    y1="-1"
    x2="17.2045"
    y2="-1"
    transform="matrix(0.739684 -0.672954 0.688196 0.725524 16.2741 22.5779)"
    stroke="{{ .stroke }}"
    stroke-width="4"
  />
</svg>
{{end}}
