{ "extends": ["prettier"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "camelcase": 0,
    "strict": 0,
    "import/default": 0,
    "import/no-duplicates": 0,
    "import/named": 0,
    "import/namespace": 0,
    "import/no-unresolved": 0,
    "import/no-named-as-default": 2,
    "import/prefer-default-export": 0,
    "comma-dangle": 0,  // not sure why airbnb turned this on. gross!
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-console": 0,
    "no-alert": 0,
    "arrow-body-style": 0,
    "no-mixed-operators": 0,
    "no-plusplus": 0,
    "no-underscore-dangle": 0,
    "prettier/prettier": "error",
    "prefer-destructuring": 0,
    "@typescript-eslint/no-unused-vars": 1,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*_test.ts"]}],
    "lines-between-class-members": 0,
  },
  "plugins": [
    "import", "prettier", "@typescript-eslint"
  ],
  "settings": {
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  },
  "globals": {
  }
}
