@import '../App/responsive';
@import '../App/variables';
@import '../App/rem';

.content {
  border: 1px solid $border-color;
  border-radius: 2px;
  padding: rem(16px) rem(20px);
  margin-top: rem(24px);

  @include breakpoint(lg) {
    margin-top: 0;
  }
}
