@import '../../App/variables';
@import '../../App/font';
@import '../../App/rem';
@import '../../App/responsive';

.content {
  z-index: 3;
}

.caret {
  margin-left: rem(4px);
}

.dropdown {
  max-height: rem(300px);
  overflow-y: auto;
}

.combobox-item {
  display: flex;

  &:not(:first-child) {
    border-top: 1px solid #e6e6e6;
  }
}

.combobox-active-item {
  background: $third;
  color: white;
}

.combobox-option {
  position: relative;
  padding: rem(4px) rem(16px) rem(4px) rem(28px);
  flex-grow: 1;
  color: black;

  &:hover {
    background: $third;
    color: white;
    text-decoration: none;
  }

  &.active {
    background: $dark-light2;
  }

  &.focused {
    background: $third;
    color: white;

    .check {
      #check-core {
        fill: white;
      }
    }
  }
}

.combobox-label {
  display: block;
  @include font-size('small');
  font-weight: 600;
  background: $dark-light;
  padding: rem(4px) rem(12px);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid #e6e6e6;
}

.combobox {
  padding: rem(8px);
  //background: #e7f0ff;
  border-bottom: 1px solid #e6e6e6;
  background: $dark-light;
}
.textbox {
  @include font-size('small');
}

.check-icon {
  position: absolute;
  left: rem(8px);
  top: 50%;
  transform: translateY(-50%);
}
