@import './theme';
@import './variables';

.header-wrapper {
  padding: 0;
  z-index: 2;
  position: relative;
  display: flex;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  background: $first;
  align-items: stretch;
  justify-content: space-between;
  flex: 1;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 4;
  height: $header-height;

  @include breakpoint(md) {
    flex-direction: row;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  .left {
    display: flex;
  }

  .right {
    display: flex;
  }

  .search-wrapper {
    align-items: center;
    display: flex;
    margin-left: rem(32px);
  }

  .search-input {
    width: rem(356px);
    border: 0;
    padding: 4px 12px;
    border-radius: rem(4px);
    @include font-size('small');
  }

  .brand {
    display: flex;
    align-items: center;

    &:hover {
      text-decoration: none;
    }
  }

  .main-nav {
    margin-left: rem(32px);
    display: none;

    @include breakpoint(lg) {
      display: flex;
    }

    .list {
      display: flex;
    }

    .item {
      display: flex;
      align-items: stretch;
    }

    .nav-link {
      @include font-size('small');
      display: flex;
      font-weight: 600;
      align-items: center;
      padding: 0 rem(16px);
      color: $white;

      &:hover {
        color: $white;
        text-decoration: none;
        background: lighten($first, 10%);
      }
    }
  }
}
