@import './variables';

@mixin breakpoint($point) {
  @if $point == xl {
    @media (min-width: $xl-breakpoint) {
      @content;
    }
  } @else if $point == lg {
    @media (min-width: $lg-breakpoint) {
      @content;
    }
  } @else if $point == md {
    @media (min-width: $md-breakpoint) {
      @content;
    }
  } @else if $point == sm {
    @media (min-width: $sm-breakpoint) {
      @content;
    }
  } @else if $point == smonly {
    @media (min-width: $sm-breakpoint) and (max-width: $md-breakpoint - 1px) {
      @content;
    }
  } @else if $point == smdown {
    @media (max-width: $md-breakpoint - 1px) {
      @content;
    }
  } @else if $point == mdonly {
    @media (min-width: $md-breakpoint) and (max-width: $lg-breakpoint - 1px) {
      @content;
    }
  } @else if $point == mddown {
    @media (max-width: $lg-breakpoint - 1px) {
      @content;
    }
  }
}

// landscape is the mobile landscape mode
@mixin landscape() {
  @media (max-height: 400px) {
    @content;
  }
}
