@import "./grid";
@import "./reboot";
@import "./bootstrap";
@import "./button";

// pages
@import "./login";
@import "./header";

:root {
  //background: #141414;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  // background: #141414;
}
