@import '../App/rem';
@import '../App/font';
@import '../App/theme';

.section {
  margin-top: rem(24px);

  &:first-child {
    margin-top: 0;
  }
}

.section-heading {
  @include font-size('regular');
  font-weight: 400;
  padding-bottom: rem(4px);
  background: $light;
  padding: rem(4px) rem(12px);
}
.section-content {
  margin-top: rem(20px);
}

.actions {
  margin-top: rem(12px);
  text-align: right;
}

.input-row {
  &:not(:first-child) {
    margin-top: rem(8px);
  }
}

.flash {
  margin-bottom: rem(12px);
}

button.edit {
  color: $link;
  padding: 0;

  &:hover {
    color: $link-hover;
  }
  @include breakpoint(md) {
    margin-left: rem(16px);
  }
}

.input-label {
  width: 100%;
}

.verification-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include breakpoint(lg) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.verification-banner-cta {
  margin-top: rem(12px);
  align-self: flex-end;

  @include breakpoint(lg) {
    margin-top: 0;
    align-self: initial;
  }
}
