{{define "yield"}}
<div class="container page page-mobile-full books-page mobile-fw">

  <div class="page-header">
    <h1 class="page-heading">Books</h1>
  </div>

  <div class="frame books-content">
    <ul>
      {{range .Books}}
        <li>
          <a href="/?book={{.Label}}">
            {{ .Label }}
          </a>
        </li>
      {{end}}
    </ul>
  </div>
</div>
{{end}}
