@import '../App/rem';
@import '../App/responsive';
@import '../App/theme';
@import '../App/font';

.new-book-button {
  display: block;

  @include breakpoint(lg) {
    display: none;
  }
}

.count {
  display: none;

  @include overSidebarThreshold {
    @include font-size('small');
    color: $black;
    display: inline-block;

    &.hidden {
      display: none;
    }
  }
}
