@import '../../App/rem';
@import '../../App/responsive';
@import '../../App/theme';

.wrapper {
  position: relative;
  overflow: hidden;
  background: $light-gray;
}

.search-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);

  path {
    fill: $gray;
  }
}

.input {
  width: 100%;
}

.focused {
  .input {
    padding-left: rem(12px);
  }

  .search-icon {
    position: absolute;
    left: -25px;
  }
}
